<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Price</th>
        <th>Students Qty</th>
        <th>Reviews Qty</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Python course</td>
        <td>50.99</td>
        <td>100</td>
        <td>30</td>
        <td><button>Buy</button></td>
    </tr>
    </tbody>
</table>

</body>
</html>